* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --outfit-regular: 'Outfit400';
    --outfit-bold: 'Outfit700';
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--light-gray);
}

.card, .qr, .text {
    margin: 0 auto;
}

.card, .qr {
    border-radius: 25px;
    padding: 8px 0;
}

.card {
    width: 300px;
    background-color: var(--white);
}

.qr {
    width: 90%;
}

.qr img {
    max-width: 100%;
    border-radius: 12px;
}

.text {
    width: 85%;
    text-align: center;
}

.text h1, .text p {
    margin: 18px 0;
}

.text h1 {
    font-family: var(--outfit-bold);
    font-size: 20px;
    color: var(--dark-blue);
}

.text p {
    font-family: var(--outfit-regular);
    font-size: 15px;
    color: var(--grayish-blue);
}
